[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
pillow = "*"
pytesseract = "*"
email-validator = "*"
requests = "*"
beautifulsoup4 = "*"
httpx = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
